{% block content %}

    <h1>Welcome to Your Dashboard</h1>
    <h2>Your Profile</h2>

    <h3>{{student.name}}</h3>
    <p><strong>LinkedIn: <a href="{{student.linkedin_url}}" target="_blank">{{student.linkedin_url}}</a></strong></p>
    <p><strong>CV: <a href="{{student.cv_file}}" target="_blank">{{student.cv_file}}</a></strong></p>
    <p><strong>Support Date: {{student.support_start_date}}</strong></p>

    <p><strong>Employment Status: {{student.employment_status}}</strong></p>
    {% if student.employment_status == 'EMPLOYED' %}
        <p><strong>Job Title: {{student.job_title}}</strong></p>
        <p><strong>Job Start Date: {{student.job_start_date}}</strong></p>
    {% endif %}    
{% endblock  %}
