{% extends "base.html" %}
{% block content %}
    <h1>Student Detail</h1>
    
    {% if not max_logs_reached %}
        <a href="{% url 'add_progress_log' student.pk %}">Add Progress Log</a>
    {% endif %}

    {% if progress_logs %}
        <h3>Progress Logs</h3>
        {% for log in progress_logs %}
        <a href="{% url 'progress_log_detail' log.pk %}">
            Month {{ log.month_number }}
        </a>
        {% endfor %}
    {% endif %}

    <p>Name: {{ student.name }}</p>
    <p>Email: {{ student.user.email }}</p>
    <p>LinkedIn: <a href="{{ student.linkedin_url }}">{{ student.linkedin_url }}</a></p>
    <p>CV: <a href="{{ student.cv_file.url }}">Download CV</a></p>
    <p>Support Start Date: {{ student.support_start_date }}</p>
    
    <form action="{% url 'delete_student' student.pk %}" method='post'>
        {% csrf_token %}
        <button>DELETE</button>
    </form>
    <a href="{% url 'edit_student' student.pk %}">Edit</a>
{% endblock content %}