<!doctype html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8"><title>NextChapter</title>
    <link rel="stylesheet" href="{% static 'base.css' %}">
  </head>
  <body>
    <div class="header">
    <img src="{% static 'images/NextChapter.jpg' %}" alt="NextChapter Logo" id='logo'>
   {%if user.is_authenticated %}
    {% if user.role == user.Role.TRACKER %}
      <nav> 
        <a href="{% url 'add_student' %}" class="links">Add New Student</a> 
        <a href="{% url 'students_list' %}" class="links">Student List</a>
      </nav>
    {% endif %}
      <form action="/auth/logout/" method="post" class='logout-form'>
        {% csrf_token %}
        <button type="submit">Logout</button>
      </form>
      {%endif%}
    </div>
    
    <div class="main-content">
        {% block content %}
        {% endblock %}
    </div>

  </body>
</html>